flaskApp/ filter=lfs diff=lfs merge=lfs -text
flaskApp/requirements.txt filter=lfs diff=lfs merge=lfs -text
flaskApp/test_images filter=lfs diff=lfs merge=lfs -text
flaskApp/CNN.py filter=lfs diff=lfs merge=lfs -text
flaskApp/Model filter=lfs diff=lfs merge=lfs -text
flaskApp/app.py filter=lfs diff=lfs merge=lfs -text
flaskApp/disease_info.csv filter=lfs diff=lfs merge=lfs -text
flaskApp/plant_disease_model_1_latest.pt-20231122T144855Z-001 filter=lfs diff=lfs merge=lfs -text
flaskApp/static filter=lfs diff=lfs merge=lfs -text
flaskApp/templates filter=lfs diff=lfs merge=lfs -text
flaskApp/Procfile filter=lfs diff=lfs merge=lfs -text
flaskApp/Readme.md filter=lfs diff=lfs merge=lfs -text
flaskApp/__pycache__ filter=lfs diff=lfs merge=lfs -text
flaskApp/plant_disease_model_1_latest.pt filter=lfs diff=lfs merge=lfs -text
*/* filter=lfs diff=lfs merge=lfs -text
Model filter=lfs diff=lfs merge=lfs -text
flaskApp filter=lfs diff=lfs merge=lfs -text
pasumaicholai-plant-detection filter=lfs diff=lfs merge=lfs -text
test_images filter=lfs diff=lfs merge=lfs -text
/dev filter=lfs diff=lfs merge=lfs -text
/git-cmd.exe filter=lfs diff=lfs merge=lfs -text
/mingw64 filter=lfs diff=lfs merge=lfs -text
/proc filter=lfs diff=lfs merge=lfs -text
/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
/ReleaseNotes.html filter=lfs diff=lfs merge=lfs -text
/unins000.dat filter=lfs diff=lfs merge=lfs -text
/cmd filter=lfs diff=lfs merge=lfs -text
/git-bash.exe filter=lfs diff=lfs merge=lfs -text
/usr/bin filter=lfs diff=lfs merge=lfs -text
/etc filter=lfs diff=lfs merge=lfs -text
C:/Users/vigne/AppData/Local/Temp filter=lfs diff=lfs merge=lfs -text
/unins000.exe filter=lfs diff=lfs merge=lfs -text
/unins000.msg filter=lfs diff=lfs merge=lfs -text
/usr filter=lfs diff=lfs merge=lfs -text
flakApp filter=lfs diff=lfs merge=lfs -text
flaskApp/* filter=lfs diff=lfs merge=lfs -text
